@import url("styles/navigation.css");
@import url("styles/hero.css");
@import url("styles/contact.css");
/*@import url("styles/reset.css");*/
@import url("styles/project.css");

body {
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 48;
    font-weight: bold;
    color: white;
}

h2{
    font-size: 40;
    color: #98C8ED;
}

h3{
    font-size: 28;
    color: #98C8ED;
}

p{
    color: #d9d9d9;
}

header {
    background-color: #121212;
}

footer {
    background-color: #121212;
    padding: 20px 0;
    text-align: center;
}

.footer-icons a {
    margin: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.footer-icons img {
    width: 32px;
    height: 32px;
}

.footer-icons a:hover {
    transform: scale(1.1);
}

.about-me_container{
    display: flex;
    flex-direction: row;
}

.about-me_container img {
    width: 256px;
    height: 256px;
}

.about-me_info {
    display: flex;
    flex-direction: column;
}
